<div class="banner-slider">
    <ul>
        <li><div class="btitle"><a href="#/category/headphones/beats">Beats</a></div> <a href="#/category/headphones/beats"><img src="images/beats.jpg"></a> </li>
        <li><div class="btitle"><a href="#/category/headphones/sennheiser">Sennheiser</a></div> <a href="#/category/headphones/sennheiser"><img src="images/sennheiser.jpg"></a> </li>
        <li><div class="btitle"><a href="#/category/shoes/nike">Nike</a></div> <a href="#/category/shoes/nike"><img src="images/nike.jpg"></a> </li>
        <li><div class="btitle"><a href="#/category/shoes/reebok">Reebok</a></div> <a href="#/category/shoes/reebok"><img src="images/reebok.jpg"></a> </li>
    </ul>
</div>